{% extends 'frame/master.html' %}
{% block content %}
{% load static %}
<img src="{% static 'image/abt.jpg' %}">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis saepe ipsa praesentium repellendus ex, in eos distinctio? Autem iure voluptate beatae facilis, sit dolorem cum sequi consectetur molestias, temporibus itaque repellendus veritatis labore deserunt! Minima autem rerum quasi incidunt. Est itaque perferendis blanditiis sequi id! Quod, mollitia iste quae ad saepe fugiat magnam? Natus ipsa provident quisquam minus expedita.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate id optio cumque beatae corrupti, quis at et molestiae pariatur sed dolorem repellat, similique modi quia?</p>
{% endblock %}