{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="{% url 'home' %}">HOME</a>
<a href="{% url 'about' %}">ABOUT</a>
<a href="{% url 'contact' %}">CONTACT</a><br/>
{% block content %}

<img src="{% static 'image/homepage.jpg' %}">
{% endblock %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quidem placeat nemo error illo distinctio nam? Fuga dicta nobis fugit dolores voluptatum? Autem nam dolorem nihil ut doloremque quia molestias recusandae non laudantium, harum quisquam suscipit! Ad inventore laboriosam dolorum, sed, excepturi odit voluptate, asperiores neque accusamus cupiditate magni debitis.</p>
<h1>FOOTER</h1>
    
</body>
</html>